@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-primary: #c4c5ba;
  --color-accent: #ff9f1c;
  --color-text: #1b1b1b;
  --color-secondary: #595f39;
  --color-background: #e4e4de;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--colo-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
